ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  max-width: 1128px;
}

.gallery-image {
  max-width: 360px;
  max-height: 200px;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image:hover {
  transform: scale(1.04);
  cursor: zoom-in;
}
